div.alert.alert-secondary Seleccionar una parte en el modelo 3D

h5 Instrucciones de Mantención
embed(src="", type="application/pdf")
footer.blockquote-footer Source:
  cite https://www.researchgate.net/publication/242412117

h5 Especificaciones
div
  #viewer2d
footer.blockquote-footer Source:
  cite https://www.aircontrolindustries.com